.form-control{
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

    
 .SignUp1Heading{
        font-style: bold;
        font-weight: 600px;
        margin: 100px;
}
    .nextStepButton{
        margin-bottom: 70px;
    
    }
    
    
  